<table class="table">
    <button type="button" class="btn btn-outline-danger bouton mb-3" (click)="GoHome()"><i class="fab fa-eye"></i>Retour</button>
    <tbody>
      <tr>
        <th scope="row">Nom :</th>
        <td><strong> {{ datas.title}} </strong> {{ datas.first_name}} {{ datas.last_name}} </td>
      </tr>
      <tr>
        <th scope="row">Date de naissance :</th>
        <td> {{ datas.birth}} </td>
      </tr>
      <tr>
        <th scope="row">Quartier et Ville :</th>
        <td> {{ datas.city}} - {{ datas.country}} </td>
      </tr>
      <tr>
        <th scope="row">Email :</th>
        <td> {{ datas.email}} </td>
      </tr>
      <tr>
        <th scope="row">Genre :</th>
        <td> {{ datas.gender}} </td>
      </tr>
      <tr>
        <th scope="row">Linkedin :</th>
        <td> {{ datas.linkedin}} </td>
      </tr>
      <tr>
        <th scope="row">Carière envisagé :</th>
        <td> {{ datas.planned_career}} </td>
      </tr>
      <tr>
        <th scope="row">Couleur préferé :</th>
        <td> {{ datas.prefered_color}} </td>
      </tr>
      <tr>
        <th scope="row">Promotion :</th>
        <td> {{ datas.promotion}} </td>
      </tr>
      <tr>
        <th scope="row">Addresse :</th>
        <td> {{ datas.street_address}} </td>
      </tr>
      <tr>
        <th scope="row">Rue :</th>
        <td> {{ datas.street_name}} </td>
      </tr>
      <tr>
        <th scope="row">Univerité</th>
        <td> {{ datas.university}} </td>
      </tr>

    </tbody>
  </table>